button{
    padding: 2rem 3rem;
    background-color:blueviolet;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    border-radius: 100px;
    border: none;
    display: block;
    margin: 0 auto;
}
.pic{
    height:500px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}
.pic img{
    height: 100%;
    
}